.tabs
{
    a
    {
        border-bottom-style: none;
    }
    
    a:hover
    {
        i 
        {
            color: #bd1a8d;
        }
    }
}

.button.is-focused, .button:focus
{
    border-color: #bd1a8d;
}
// .nav-menu 
// {
//     a 
//     {
//         color: rgba(255,255,255,.7);
//         background-color: #bd1a8d;
//     }
// }